/*
    This file is part of raidplaner (http://github.com/betagan/raidplaner/).

    (c) Copyright 2009, Chris-Werner Reimer <betagan@betaworx.de>

    Raidplaner is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Raidplaner is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Raidplaner.  If not, see <http://www.gnu.org/licenses/>.
*/

#footer {
    text-align:center;
    color:#555;
    font-size:0.9em;
}
body {
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 20px;
   font-size:1.0em;
   background-color: #eee;
   }
#container {
   margin: 0px auto;
   width: 704px;
   }
#content {
   border: 30px solid #fff;
   padding: 20px;
   font-size: 1.0em;
   width: 644px;
   background-color: #eeee99;
   }
ul#navlist  {
   display: block;
   width: 704px;
   height: 25px;
   padding: 0;
   margin: 0;
   line-height: 25px;
   margin-left: 0;
   padding-left: 0;
   }
ul#navlist li {
   padding: 0;
   display: inline;
   font-size: 1.1em;
   list-style-type: none;
   background-color: #fff;
   margin-right: 2px;
   }
ul#navlist a {
   text-decoration: none;
   padding: 7px 12px 7px 12px;
   color: #000;
   background-color: #fff;
   }
ul#navlist a:hover {
   COLOR: #fc3;
   }
h1 {
   FONT-SIZE: 1.2em;
   }
   
   
.small_text {
    font-size:0.9em;
}

.small_error {
    font-size:0.9em;
    color: #ff1111;
}